In [5]:
# Import Libraries and Dependencies
import pandas as pd
from pathlib import Path

### 1. Combine and Clean the Data
#### Import CSVs

In [6]:
# Read the CSV files into DataFrames.
y2020_sales_path = Path('Resources/athletic_sales_2020.csv')
y2021_sales_path = Path('Resources/athletic_sales_2021.csv')

y2020_sales_df = pd.read_csv(y2020_sales_path)
y2021_sales_df = pd.read_csv(y2021_sales_path)

In [7]:
# Display the 2020 sales DataFrame
y2020_sales_df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [8]:
# Display the 2021 sales DataFrame
y2021_sales_df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [9]:
# Check the 2020 sales data types.
y2020_sales_df.describe

<bound method NDFrame.describe of          retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]>

In [10]:
# Check the 2021 sales data types.
y2021_sales_df.describe

<bound method NDFrame.describe of          retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]>

#### Combine the sales data by rows.

In [11]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_df = pd.concat([y2020_sales_df, y2021_sales_df])

# Reset the index
combined_df = combined_df.reset_index(drop=True)
combined_df.head(50)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
5,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,47,336,15792,9633.12,Online
6,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,35,450,157500,63000.00,Outlet
7,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,27,158,4266,1791.72,Outlet
8,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,47,260,12220,5132.40,Online
9,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,32,122,3904,1991.04,Online
10,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,36,320,11520,4032.00,Outlet
11,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000.00,In-store
12,West Gear,1128299,1/3/20,Northeast,Pennsylvania,Philadelphia,Men's Athletic Footwear,44,117,5148,1904.76,Online
13,West Gear,1128299,1/3/20,Northeast,Pennsylvania,Philadelphia,Men's Athletic Footwear,35,135,4725,1464.75,Outlet
14,Foot Locker,1185732,1/3/20,Northeast,New York,New York,Women's Street Footwear,32,350,11200,4144.00,Outlet
15,Foot Locker,1185732,1/3/20,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000.00,In-store
16,West Gear,1128299,1/3/20,Northeast,Pennsylvania,Philadelphia,Men's Athletic Footwear,45,450,202500,50625.00,Outlet
17,Foot Locker,1185732,1/3/20,Northeast,New York,New York,Women's Street Footwear,36,250,9000,4140.00,Online
18,West Gear,1128299,1/4/20,Northeast,Pennsylvania,Philadelphia,Women's Street Footwear,36,140,5040,2368.80,Outlet
19,West Gear,1128299,1/4/20,Northeast,Pennsylvania,Philadelphia,Women's Street Footwear,41,117,4797,2590.38,Online
20,West Gear,1128299,1/4/20,Northeast,Pennsylvania,Philadelphia,Women's Street Footwear,45,450,202500,81000.00,Outlet
21,Foot Locker,1185732,1/4/20,Northeast,New York,New York,Women's Athletic Footwear,36,281,10116,3742.92,Outlet
22,Foot Locker,1185732,1/4/20,Northeast,New York,New York,Women's Athletic Footwear,41,247,10127,4658.42,Online
23,Foot Locker,1185732,1/4/20,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875.00,In-store
24,Foot Locker,1185732,1/5/20,Northeast,New York,New York,Men's Apparel,43,306,13158,4868.46,Outlet
25,Foot Locker,1185732,1/5/20,Northeast,New York,New York,Men's Apparel,60,900,540000,162000.00,In-store
26,West Gear,1128299,1/5/20,Northeast,Pennsylvania,Philadelphia,Women's Athletic Footwear,45,300,135000,47250.00,Outlet
27,West Gear,1128299,1/5/20,Northeast,Pennsylvania,Philadelphia,Women's Athletic Footwear,34,90,3060,1254.60,Outlet
28,Foot Locker,1185732,1/5/20,Northeast,New York,New York,Men's Apparel,55,234,12870,5148.00,Online
29,West Gear,1128299,1/5/20,Northeast,Pennsylvania,Philadelphia,Women's Athletic Footwear,43,87,3741,1870.50,Online
30,West Gear,1128299,1/6/20,West,Nevada,Las Vegas,Men's Apparel,47,70,3290,2138.50,Online
31,Foot Locker,1185732,1/6/20,Northeast,New York,New York,Women's Apparel,46,260,11960,4425.20,Online
32,Foot Locker,1185732,1/6/20,Northeast,New York,New York,Women's Apparel,50,1000,500000,125000.00,In-store
33,West Gear,1128299,1/6/20,West,Nevada,Las Vegas,Men's Apparel,50,250,125000,68750.00,Outlet
34,West Gear,1128299,1/6/20,West,Nevada,Las Vegas,Men's Apparel,37,80,2960,1687.20,Outlet
35,Foot Locker,1185732,1/6/20,Northeast,New York,New York,Women's Apparel,38,330,12540,4012.80,Outlet
36,Foot Locker,1185732,1/7/20,Northeast,New York,New York,Men's Street Footwear,46,313,14398,8926.76,Online
37,West Gear,1128299,1/7/20,West,Nevada,Las Vegas,Women's Apparel,45,475,213750,42750.00,Outlet
38,West Gear,1128299,1/7/20,West,Nevada,Las Vegas,Women's Apparel,36,166,5976,1434.24,Outlet
39,Foot Locker,1185732,1/7/20,Northeast,New York,New York,Men's Street Footwear,33,388,12804,6658.08,Outlet
40,West Gear,1128299,1/7/20,West,Nevada,Las Vegas,Women's Apparel,41,128,5248,1574.40,Online
41,Foot Locker,1185732,1/7/20,Northeast,New York,New York,Men's Street Footwear,50,1250,625000,312500.00,In-store
42,Foot Locker,1185732,1/8/20,Northeast,New York,New York,Men's Athletic Footwear,39,315,12285,4054.05,Outlet
43,Foot Locker,1185732,1/8/20,Northeast,New York,New York,Men's Athletic Footwear,46,261,12006,5282.64,Online
44,West Gear,1128299,1/8/20,West,Nevada,Las Vegas,Men's Street Footwear,35,525,183750,73500.00,Outlet
45,West Gear,1128299,1/8/20,West,Nevada,Las Vegas,Men's Street Footwear,34,158,5372,2686.00,Online
46,West Gear,1128299,1/8/20,West,Nevada,Las Vegas,Men's Street Footwear,27,173,4671,2008.53,Outlet
47,Foot Locker,1185732,1/8/20,Northeast,New York,New York,Men's Athletic Footwear,50,900,450000,135000.00,Outlet
48,West Gear,1128299,1/9/20,West,Nevada,Las Vegas,Men's Athletic Footwear,45,425,191250,47812.50,Outlet
49,West Gear,1128299,1/9/20,West,Nevada,Las Vegas,Men's Athletic Footwear,43,128,5504,2201.60,Online

In [12]:


# Check if any values are null
null_values = combined_df.isnull().values.any()

if null_values:
    print("There are null values in the DataFrame.")
else:
    print("There are no null values in the DataFrame.")

There are no null values in the DataFrame.

In [13]:
# Check the data type of each column
column_data_types = combined_df.dtypes

print(column_data_types)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [15]:
# Convert the "invoice_date" to a datetime datatype
combined_df["invoice_date"] = pd.to_datetime(combined_df["invoice_date"])

# Check the data type of each column
print(column_data_types)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [16]:
# Confirm that the "invoice_date" data type has been changed.
column_data_types = combined_df.dtypes

print(column_data_types)

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [23]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
filtered_data = combined_df[(combined_df['region'] == 'your_region') & (combined_df['state'] == 'your_state') & 
                            (combined_df['city'] == 'your_city')]

# Group the filtered data by region, state, and city and calculate the count of products sold
grouped_data = filtered_data.groupby(['region', 'state', 'city']).size().reset_index(name='Total_Products_Sold')

# Print the results
print(grouped_data)



# Show the top 5 results.
grouped_data.head()

Empty DataFrame
Columns: [region, state, city, Total_Products_Sold]
Index: []

Empty DataFrame
Columns: [region, state, city, Total_Products_Sold]
Index: []

#### Using `pivot_table`

In [ ]:
# Show the number products sold for region, state, and city.


# Rename the "units_sold" column to "Total_Products_Sold"


# Show the top 5 results.

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Show the top 5 results.

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [ ]:
# Filter the sales data to get the women's athletic footwear sales data.

#### Using `groupby`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

#### Using `pivot_table`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [ ]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

In [ ]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in ascending order on "Total Sales".

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in ascending order on "Total Sales".